<%- include("inc/header") -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Perfil
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-home" style="color: #444"></i> Home</a></li>
        <li class="active">Perfil</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
      <div class="box box-warning">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="dist/img/avatar5.png" alt="User profile picture">

          <h3 class="profile-username text-center"><%= user.name %></h3>

          <p class="text-muted text-center"><%= user.email %></p>

        </div>
        <div class="box-footer">
          <button type="button" class="btn btn-info btn-update" data-toggle="modal" data-target="#modal-update"><i class="fa fa-pencil"></i> Editar</button>&nbsp;
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-update-password">
              <i class="fa fa-lock"></i> Alterar Senha</button>&nbsp;
          <button type="button" class="btn btn-danger btn-delete"><i class="fa fa-trash"></i> Excluir</button>
        </div>
        <!-- /.box -->
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div class="modal fade" id="modal-update-password">
    <div class="modal-dialog">
      <div class="modal-content" style="border-top: 3px solid #f39c12;">
        <form method="post" action="/admin/profile/change-password">
          <input type="hidden" name="id" value="<%= user.id %>">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Alterar Senha</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputPassword">Nova Senha</label>
              <input type="password" class="form-control" id="inputPassword" name="password">
            </div>
            <div class="form-group">
              <label for="inputPasswordConfirm">Confirmar Senha</label>
              <input type="password" class="form-control" id="inputPasswordConfirm" name="passwordConfirm">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-warning">Salvar</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!--- FORMULARIO UPDATE  -->
  <div class="modal fade" id="modal-update">
    <div class="modal-dialog">
      <div class="modal-content" style="border-top: 3px solid #00c0ef;">
        <form method="post">
          <input type="hidden" name="id" value="<%= user.id %>">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Editar Usuário</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="inputNameUpdate">Nome</label>
              <input type="text" class="form-control" id="inputNameUpdate" name="name" value="<%= user.name %>">
            </div>
            <div class="form-group">
              <label for="inputEmailUpdate">E-mail</label>
              <input type="email" class="form-control" id="inputEmailUpdate" name="email" value="<%= user.email %>">
            </div>
            <div class="form-group">
              <label for="inputPhotoCreate">Foto</label>
              <img style="max-width: 128px; max-height: 128px; display: block;" src="dist/img/avatar5.png">
              <input type="file" class="form-control" id="inputPhotoCreate" name="photo">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-info">Salvar</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<%- include("inc/footer") -%>
<script src="/js/image-filereader.js"></script>
<script src="/js/proto-formsave.js"></script>
<script>
  //chamar a classe auxiliar passando o formulário e tag img
  new ImageFileReader("#modal-update [type=file]", "#modal-update img");

  let formUpdate = document.querySelector('#modal-update form');


  //------------------ FORMULARIO PASSWORD -----------------------------------------
  let formPassword = document.querySelector('#modal-update-password form');
  
  formPassword.save().then(results =>{
    window.location.reload();

  }).catch(err =>{
    alert("Problemas ao atualizar a senha!")
  });
</script>
