<!DOCTYPE HTML>
<html>

	<%- include("inc/head") -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<%- include("inc/header-menu") -%>
		<%- include("inc/header-index") -%>


		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2 class="cursive-font">Aprenda de uma forma eficiente!</h2>
						<p>Estude através de um método eficaz para você não esquecer o que aprendeu..</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-layers-alt"></i>
							</span>
							<h3>Crie FlashCards</h3>
							<p>Monte seu próprio baralho de contéudo a ser estudado</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-time"></i>
							</span>
							<h3>Aprendizagem contínua</h3>
							<p>Tenha revisões do que estudou, no momento certo</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="ti-thought"></i>
							</span>
							<h3>Memória duradoura</h3>
							<p>Faça com que o conhecimento fique em sua memória de longo prazo, para não esquecer o que aprendeu</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="gtco-counter" class="gtco-section">
			<div class="gtco-container">

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
						<h2 class="cursive-font primary-color">Método SRS</h2>
						<p>Todas as informações adquiridas possuem uma data de validade, este método procura prolongar esta data!</p>
					</div>
				</div>

			</div>
		</div>

		<%- include("inc/footer") -%>

	</div>

	<%- include("inc/footer-gotop") -%>
	<%- include("inc/footer-scripts") -%>

</body>

</html>