<!DOCTYPE HTML>
<html>

	<%- include("inc/head") -%>

	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

	
		<%- include("inc/header-menu") -%>
		<%- include("inc/header") -%>

	
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font">Método Spaced Repetition System (SRS)</h2>
					<p>..também conhecido como Sistema de Repetições Espaçadas, é uma técnica de memorização de conteúdo baseada na curva de esquecimento humano, onde o objetivo é prolongar o conhecimento adquirido!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-layers-alt"></i>
						</span>
						<h3>Crie FlashCards</h3>
						<p>Monte seu próprio baralho de contéudo a ser estudado</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-time"></i>
						</span>
						<h3>Aprendizagem contínua</h3>
						<p>Tenha revisões do que estudou, no momento certo</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-thought"></i>
						</span>
						<h3>Memória duradoura</h3>
						<p>Faça com que o conhecimento fique em sua memória de longo prazo, para não esquecer o que aprendeu</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-thumb-up"></i>
						</span>
						<h3>Acertos</h3>
						<p>Prolongue o tempo do conhecimento que você assimilou</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-thumb-down"></i>
						</span>
						<h3>Erros</h3>
						<p>Revise constantemente o que ainda não memorizou</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-stats-up"></i>
						</span>
						<h3>Curva do esquecimento</h3>
						<p>Todas as informações adquiridas possuem uma data de validade, este método procura prolongar esta data</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include("inc/footer") -%>

	</div>

	<%- include("inc/footer-gotop") -%>
	<%- include("inc/footer-scripts") -%>

	</body>
</html>

